<?xml version="1.0" encoding="utf-8"?>
<!-- $Id: bds2006.wxs,v 1.4 2007-08-10 17:18:29 tony Exp $ -->

<!-- This Fragment installs the Files for BDS2006 -->

<?define guidJPEGBPL="95C93275-2D7E-42D3-B97C-786D1BC7EF06"?>
<?define guidJPEGQRBPL="F1E835A9-ABF0-4226-A9D8-FA0180EFB230"?>
<?define guidMWAQRJPEG="152ABD3D-1F8F-46C2-B027-05B84907A9A3"?>
<?define guidRTDCP="852A99DE-ED7A-4856-8410-7BB0515A903C"?>
<?define guidSTDruntime="D8C61CC4-89CD-4CEB-BA17-7EE3D335DED8"?>
<?define guidDCPJPEGDCP="59847D77-0CA5-43C0-AC7B-7E910FEB50E6"?>
<?define guidQRDCPJPEGDCP="8D70524B-7D0E-44A1-BDC4-A9E8D8F90646"?>
<?define guidJPEGQRstdBPL="9CBFDB97-2569-4825-B4CE-AF465851206C"?>
<?define guidQRstdDCPJPEGDCP="BF02E0BA-2342-4F9B-9641-FB69859C249B"?>
<?define guidDCPJPEGBPI="A5808A6A-4BBC-47D5-AAF4-63AE91D4A8FE"?>
<?define guidQRDCPJPEGBPI="22D90976-5F46-4D85-B0D0-BF5CDEC858F4"?>
<?define guidQRstdDCPJPEGBPI="E01E2F11-AA45-4621-B106-709137632BD2"?>
<?define guidDCPJPEGlib="625B5D97-01D4-47B4-89E5-78EB26C6167C"?>
<?define guidQRDCPJPEGlib="964C8C0D-81EB-40B5-A702-303F4D4A3058"?>
<?define guidQRstdDCPJPEGlib="9326AD31-94C6-4020-8957-0BFF4BDEA27A"?>
<?define guidSTDBPI="2B8CFCF7-D068-4451-AC4F-846056593F79"?>
<?define guidSTDLIB="7E94C22A-2333-45A1-A618-99D8DC876025"?>

<?ifdef EVALUATION?>
<?define dcuDir="source\evaluationUnits\d10"?>
<?define guidJPEGLIB="25AEDF1F-2D29-4642-846D-D38818E7F90C"?>
<?define guidMWAJPEG="54A9A730-C036-4FF9-A687-76F455EB0EA5"?>
<?define guidMWADBJPEG="76E191E2-3220-4D13-B890-BBDCE381B638"?>
<?define guidObj1VER180="44F4E541-31B9-4C18-AF70-F43477B69815"?>
<?define guidObj2VER180="24B7070E-1FE8-4C4F-BC64-E3C2DA104CF0"?>
<?define guidObj3VER180="4230A140-274B-4CE9-BE8F-9FA22D878C5B"?>
<?define guidHdr1VER180="8CF8C622-C150-4A0B-AF05-6037F0F4189A"?>
<?define guidHdr2VER180="950D46D8-0166-43E2-BC66-2A3C716F212C"?>
<?define guidHdr3VER180="8F48935A-D100-40CD-9EAC-068739A29052"?>
<?define guidHdr4VER180="12DDA8CA-5DC7-47E8-92B5-5192BD6A58AC"?>
<?else?>
<?define dcuDir="source\Units\d10"?>
<?define guidJPEGLIB="3FB3BA26-09BF-4A20-8F90-81EDC88F7DFF"?>
<?define guidMWAJPEG="D957DBCE-54C9-473E-A0CE-622EDB9ED3A9"?>
<?define guidMWADBJPEG="2999027F-CB3E-423D-9D10-6C0A7CF66675"?>
<?define guidObj1VER180="5DB4351A-1057-416A-B8A1-7ADD2ADB184B"?>
<?define guidObj2VER180="D0A17948-E1E2-40A2-8C73-82845A7E37D1"?>
<?define guidObj3VER180="5BC6281D-F4B7-4008-AAB5-66CAA5360EB0"?>
<?define guidHdr1VER180="A5838A21-D777-41CE-A733-ED4936790E80"?>
<?define guidHdr2VER180="4E57AB34-FD0D-4B72-AF3E-050131394360"?>
<?define guidHdr3VER180="7B018C4F-8C7A-4D0B-900A-064696A2E1CB"?>
<?define guidHdr4VER180="D682BCC1-3D47-4B35-9678-F9B6D5F56CC4"?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">

 <Fragment>
  <Property Id="INSTALLDIRD2006">
    <RegistrySearch Id="ROOTVER180" Root="HKLM" Key="SOFTWARE\Borland\BDS\4.0"
                      Name="RootDir" Type="directory" />
  </Property>

  <CustomTable Id="MWARegSearchParams" >
    <Row>
	  <Data Column="Root">HKLM</Data>
	  <Data Column="KeyPath">SOFTWARE\Borland\BDS\4.0\Known Packages</Data>
	  <Data Column="SubString">QR4DesignD2006.bpl</Data>
	  <Data Column="Property">QR4D2006</Data>
	</Row>
  </CustomTable>

  <CustomTable Id="MWARegSearchParams" >
    <Row>
	  <Data Column="Root">HKLM</Data>
	  <Data Column="KeyPath">SOFTWARE\Borland\BDS\4.0\Known Packages</Data>
	  <Data Column="SubString">QR4StdDesD2006.bpl</Data>
	  <Data Column="Property">QR4STDD2006</Data>
	</Row>
  </CustomTable>

  <CustomAction Id="SetInstallDirVER180" Directory="DelphiDirVER180"
                 Value="[INSTALLDIRD2006]"/>
  <InstallExecuteSequence>
    <Custom Action='SetInstallDirVER180' After='CostFinalize'>INSTALLDIRD2006</Custom>
  </InstallExecuteSequence>

  <DirectoryRef Id="TARGETDIR">
    <Directory Id="DelphiDirVER180" Name="Delphi10" LongName="bds2006">
	  <Directory Id="bindirVER180" Name="bin">

       <!-- Standard Design Time Package -->

	   <Component Id="DesignTimePkgeVER180" Guid="$(var.guidJPEGBPL)" DiskId="1">
	     <Condition>INSTALLDIRD2006 and not QR4D2006 and not QR4STDD2006</Condition>
  	     <File Id="dcljpg10bpl" Name="dcljpg10.bpl" LongName="dclmwajpgD2006.bpl"
	   	     Source="source\Packages\dclmwajpgD2006.bpl"/>
	     <Registry Id="AddStd2PackageListVER180"
		 		   Root="HKCU" Type="string"
		 	       Key="Software\Borland\BDS\4.0\Known Packages"
				   Name="[#dcljpg10bpl]"
				   Value="MWA JPEG Component Library v$(env.RELEASE)" />
	   </Component>

       <!-- Quick Reports Design Time Package -->

	   <Component Id="DesignTimePkgeQRVER180" Guid="$(var.guidJPEGQRBPL)" DiskId="1">
	     <Condition>INSTALLDIRD2006 and QR4D2006</Condition>
  	     <File Id="qcljpg10bpl" Name="qcljpg10.bpl" LongName="qclmwajpgD2006.bpl"
	   	     Source="source\Packages\QR\dclmwajpgD2006.bpl">
		   <CopyFile Id="CopyQclVER180" DestinationName="dcljpg10.bpl"
                     DestinationLongName="dclmwajpgD2006.bpl"/>
		 </File>
		 <RemoveFile Id="RemoveQclVER180" Name="dcljpg10.bpl"
                     LongName="dclmwajpgD2006.bpl" On="uninstall"/>
	     <Registry Id="AddQR2PackageListVER180"
		 		   Root="HKCU" Type="string"
		 	       Key="Software\Borland\BDS\4.0\Known Packages"
				   Name="[#dcljpg10bpl]"
				   Value="MWA JPEG Component Library v$(env.RELEASE)" />
	   </Component>

       <!-- Quick Reports Standand Design Time Package -->

	   <Component Id="DesignTimePkgeQRstdVER180" Guid="$(var.guidJPEGQRstdBPL)" DiskId="1">
	     <Condition>INSTALLDIRD2006 and not QR4D2006 and QR4STDD2006</Condition>
  	     <File Id="qsljpg10bpl" Name="qsljpg10.bpl" LongName="qslmwajpgD2006.bpl"
	   	     Source="source\Packages\QRstd\dclmwajpgD2006.bpl">
		   <CopyFile Id="CopyQslVER180" DestinationName="dcljpg10.bpl"
                     DestinationLongName="dclmwajpgD2006.bpl"/>
		 </File>
		 <RemoveFile Id="RemoveQslVER180" Name="dcljpg10.bpl"
                     LongName="dclmwajpgD2006.bpl" On="uninstall"/>
	     <Registry Id="AddQS2PackageListVER180"
		 		   Root="HKCU" Type="string"
		 	       Key="Software\Borland\BDS\4.0\Known Packages"
				   Name="[#dcljpg10bpl]"
				   Value="MWA JPEG Component Library v$(env.RELEASE)" />
	   </Component>
	  </Directory>
	  <Directory Id="libdirVER180" Name="lib">

      <?ifndef EVALUATION?>

      <!-- dcp, bpi and lib files -->

	    <Component Id="dcljpgdcpVER180" Guid="$(var.guidDCPJPEGDCP)" DiskId="1">
	     <Condition>INSTALLDIRD2006 and not QR4D2006 and not QR4STDD2007</Condition>
		  <File Id="dclmwajpgVER180" Name="dclmjpg.dcp" LongName="dclmwajpg.dcp"
		  	    Source="source\Packages\d10\dclmwajpg.dcp" />
 	    </Component>

	    <Component Id="dcljpgqrdcpVER180" Guid="$(var.guidQRDCPJPEGDCP)" DiskId="1">
	     <Condition>INSTALLDIRD2006 and QR4D2006</Condition>
		  <File Id="qclmwajpgVER180" Name="qclmjpq.dcp" LongName="qclmwajpg.dcp"
		  	    Source="source\Packages\QR\d10\dclmwajpg.dcp" >
		   <CopyFile Id="CopyQcpVER180" DestinationName="dclmjpg.dcp"
                     DestinationLongName="dclmwajpg.dcp"/>
		 </File>
		 <RemoveFile Id="RemoveQcpVER180" Name="dclmjpg.dcp"
                     LongName="dclmwajpg.dcp" On="uninstall"/>
 	    </Component>

	    <Component Id="dcljpgqsdcpVER180" Guid="$(var.guidQRstdDCPJPEGDCP)" DiskId="1">
	     <Condition>INSTALLDIRD2006 and not QR4D2006 and QR4STDD2007</Condition>
		  <File Id="qslmwajpgVER180" Name="qslmjpq.dcp" LongName="qslmwajpg.dcp"
		  	    Source="source\Packages\QRstd\d10\dclmwajpg.dcp" >
		   <CopyFile Id="CopyQspVER180" DestinationName="dclmjpg.dcp"
                     DestinationLongName="dclmwajpg.dcp"/>
		 </File>
		 <RemoveFile Id="RemoveQspVER180" Name="dclmjpg.dcp"
                     LongName="dclmwajpg.dcp" On="uninstall"/>
 	    </Component>

	    <Component Id="dcljpgbpiVER180" Guid="$(var.guidDCPJPEGBPI)" DiskId="1">
	     <Condition>INSTALLDIRD2006 and not QR4D2006 and not QR4STDD2007</Condition>
		  <File Id="dclmwajpgbpiVER180" Name="dclmjpg.bpi" LongName="dclmwajpg.bpi"
		  	    Source="source\Packages\d10\dclmwajpg.bpi" />
 	    </Component>

	    <Component Id="dcljpgqrbpiVER180" Guid="$(var.guidQRDCPJPEGBPI)" DiskId="1">
	     <Condition>INSTALLDIRD2006 and QR4D2006</Condition>
		  <File Id="qclmwajpgbpiVER180" Name="qclmjpq.bpi" LongName="qclmwajpg.bpi"
		  	    Source="source\Packages\QR\d10\dclmwajpg.bpi" >
		   <CopyFile Id="CopyQcpbpiVER180" DestinationName="dclmjpg.bpi"
                     DestinationLongName="dclmwajpg.bpi"/>
		 </File>
		 <RemoveFile Id="RemoveQcpbpiVER180" Name="dclmjpg.bpi"
                     LongName="dclmwajpg.bpi" On="uninstall"/>
 	    </Component>

	    <Component Id="dcljpgqsbpiVER180" Guid="$(var.guidQRstdDCPJPEGBPI)" DiskId="1">
	     <Condition>INSTALLDIRD2006 and not QR4D2006 and QR4STDD2007</Condition>
		  <File Id="qslmwajpgbpiVER180" Name="qslmjpq.bpi" LongName="qslmwajpg.bpi"
		  	    Source="source\Packages\QRstd\d10\dclmwajpg.bpi" >
		   <CopyFile Id="CopyQspbpiVER180" DestinationName="dclmjpg.bpi"
                     DestinationLongName="dclmwajpg.bpi"/>
		 </File>
		 <RemoveFile Id="RemoveQspbpiVER180" Name="dclmjpg.bpi"
                     LongName="dclmwajpg.bpi" On="uninstall"/>
 	    </Component>

	    <Component Id="dcljpglibVER180" Guid="$(var.guidDCPJPEGlib)" DiskId="1">
	     <Condition>INSTALLDIRD2006 and not QR4D2006 and not QR4STDD2007</Condition>
		  <File Id="dclmwajpglibVER180" Name="dclmjpg.lib" LongName="dclmwajpg.lib"
		  	    Source="source\Packages\d10\dclmwajpg.lib" />
 	    </Component>

	    <Component Id="dcljpgqrlibVER180" Guid="$(var.guidQRDCPJPEGlib)" DiskId="1">
	     <Condition>INSTALLDIRD2006 and QR4D2006</Condition>
		  <File Id="qclmwajpglibVER180" Name="qclmjpq.lib" LongName="qclmwajpg.lib"
		  	    Source="source\Packages\QR\d10\dclmwajpg.lib" >
		   <CopyFile Id="CopyQcplibVER180" DestinationName="dclmjpg.lib"
                     DestinationLongName="dclmwajpg.lib"/>
		 </File>
		 <RemoveFile Id="RemoveQcplibVER180" Name="dclmjpg.lib"
                     LongName="dclmwajpg.lib" On="uninstall"/>
 	    </Component>

	    <Component Id="dcljpgqslibVER180" Guid="$(var.guidQRstdDCPJPEGlib)" DiskId="1">
	     <Condition>INSTALLDIRD2006 and not QR4D2006 and QR4STDD2007</Condition>
		  <File Id="qslmwajpglibVER180" Name="qslmjpq.lib" LongName="qslmwajpg.lib"
		  	    Source="source\Packages\QRstd\d10\dclmwajpg.lib" >
		   <CopyFile Id="CopyQsplibVER180" DestinationName="dclmjpg.lib"
                     DestinationLongName="dclmwajpg.lib"/>
		 </File>
		 <RemoveFile Id="RemoveQsplibVER180" Name="dclmjpg.lib"
                     LongName="dclmwajpg.lib" On="uninstall"/>
 	    </Component>
	   <?endif?>

       <!-- dcu  files -->

	    <Component Id="jpeglibVER180" Guid="$(var.guidJPEGLIB)" DiskId="1">
	     <Condition>INSTALLDIRD2006</Condition>
		  <File Id="jpeglibdcuVER180" Name="jpeglib.dcu"
		  	    Source="$(var.dcuDir)\jpeglib.dcu" />
 	    </Component>
	    <Component Id="mwajpegVER180" Guid="$(var.guidMWAJPEG)" DiskId="1">
	     <Condition>INSTALLDIRD2006</Condition>
		  <File Id="mwajpegdcuVER180" Name="mwajpeg.dcu"
		  	    Source="$(var.dcuDir)\mwajpeg.dcu" />
 	    </Component>
	    <Component Id="mwadbjpgVER180" Guid="$(var.guidMWADBJPEG)" DiskId="1">
	     <Condition>INSTALLDIRD2006</Condition>
		  <File Id="mwadbjpgdcuVER180" Name="mwadbjpg.dcu"
		  	    Source="$(var.dcuDir)\mwadbjpg.dcu" />
 	    </Component>

        <!-- Give them the source to mwaQRjpg.pas -->

	    <Component Id="mwaQRjpgpasVER180" Guid="$(var.guidMWAQRJPEG)" DiskId="1">
	     <Condition>INSTALLDIRD2006</Condition>
		  <File Id="mwaQRjpgpasVER180" Name="mwaQRjpg.pas"
		  	    Source="source\source\mwaQRjpg.pas" />
 	    </Component>

        <!-- obj Files -->

        <Directory Id="LibDirVER180" Name="obj">
        <Component Id="Obj1VER180" DiskId="1" Guid="$(var.guidObj1VER180)">
            <File Id="jpeglibobjVER180" Name="jpeglib.obj" Source="$(var.dcuDir)\jpeglib.obj" />
        </Component>
        <Component Id="Obj2VER180" DiskId="1" Guid="$(var.guidObj2VER180)">
            <File Id="mwadbjpgobjVER180" Name="mwadbjpg.obj" Source="$(var.dcuDir)\mwadbjpg.obj" />
        </Component>
        <Component Id="Obj3VER180" DiskId="1" Guid="$(var.guidObj3VER180)">
            <File Id="mwajpegobjVER180" Name="mwajpeg.obj" Source="$(var.dcuDir)\mwajpeg.obj" />
        </Component>
	    <Component Id="mwaQRjpgVER180" Guid="$(var.guidMWAQRJPEG)" DiskId="1">
	     <Condition>INSTALLDIRCB6</Condition>
		  <File Id="mwaQRjpgobjVER180" Name="mwaQRjpg.obj"
		  	    Source="source\Units\cb6\mwaQRjpg.obj" />
 	    </Component>
		</Directory>
	  </Directory>

      <!-- Header Files -->

        <Directory Id="IncludeVER180" Name="include">
		 <Directory Id="JPEGIncludeDirVER180" Name="mwajpeg">
          <Component Id="Hdr1VER180" DiskId="1" Guid="$(var.guidHdr1VER180)">
            <File Id="jpeglibhppVER180" Name="jpeglib.hpp" Source="$(var.dcuDir)\jpeglib.hpp" />
          </Component>
          <Component Id="Hdr2VER180" DiskId="1" Guid="$(var.guidHdr2VER180)">
            <File Id="mwadbjpghppVER180" Name="mwadbjpg.hpp" Source="$(var.dcuDir)\mwadbjpg.hpp" />
          </Component>
          <Component Id="Hdr3VER180" DiskId="1" Guid="$(var.guidHdr3VER180)">
            <File Id="mwajpeghppVER180" Name="mwajpeg.hpp" Source="$(var.dcuDir)\mwajpeg.hpp" />
          </Component>
          <Component Id="Hdr4VER180" DiskId="1" Guid="$(var.guidHdr4VER180)">
            <File Id="mwaQRjpghVER180" Name="mwaQRjpg.h" Source="source\source\cbuilder\mwaQRjpg.h" />
          </Component>
		 </Directory>
        </Directory>

      <?ifndef EVALUATION?>

      <!-- Run Time Package -->

	  <Directory Id="JpegDirVER180" Name="mwajpeg">
          <Component Id="RTDCPVER180" DiskId="1" Guid="$(var.guidRTDCP)">
 	        <Condition>INSTALLDIRD2006</Condition>
            <File Id="mwajpgdcpVER180" Name="mwajpg.dcp"
			      Source="source\Packages\d10\mwajpg.dcp" />
          </Component>
          <Component Id="STDruntimeVER180" DiskId="1" Guid="$(var.guidSTDruntime)">
 	        <Condition>INSTALLDIRD2006</Condition>
            <File Id="mwajpgD2006bplVER180" Name="mwajpg10.bpl" LongName="mwajpgD2006.bpl"
			      Source="source\Packages\mwajpgD2006.bpl" />
          </Component>
          <Component Id="STDBPIVER180" DiskId="1" Guid="$(var.guidSTDBPI)">
 	        <Condition>INSTALLDIRD2006</Condition>
            <File Id="mwajpgD2006bpiVER180" Name="mwajpg10.bpi" LongName="mwajpgD2006.bpi"
			      Source="source\Packages\d10\mwajpg.bpi" />
          </Component>
          <Component Id="STDLIBVER180" DiskId="1" Guid="$(var.guidSTDLIB)">
 	        <Condition>INSTALLDIRD2006</Condition>
            <File Id="mwajpgD2006libVER180" Name="mwajpg10.lib" LongName="mwajpgD2006.lib"
			      Source="source\Packages\d10\mwajpg.lib" />
          </Component>
	  </Directory>
	  <?endif?>
	</Directory>
  </DirectoryRef>

  <ComponentGroup Id="Delphi2006" >
    <ComponentRef Id="DesignTimePkgeVER180"/>
    <ComponentRef Id="DesignTimePkgeQRVER180"/>
    <ComponentRef Id="DesignTimePkgeQRstdVER180"/>
    <ComponentRef Id="jpeglibVER180"/>
    <ComponentRef Id="mwajpegVER180"/>
    <ComponentRef Id="mwadbjpgVER180"/>
    <ComponentRef Id="mwaQRjpgpasVER180"/>
    <ComponentRef Id="mwaQRjpgVER180"/>
    <ComponentRef Id="Obj1VER180"/>
    <ComponentRef Id="Obj2VER180"/>
    <ComponentRef Id="Obj3VER180"/>
    <ComponentRef Id="Hdr1VER180"/>
    <ComponentRef Id="Hdr2VER180"/>
    <ComponentRef Id="Hdr3VER180"/>
    <ComponentRef Id="Hdr4VER180"/>
    <?ifndef EVALUATION?>
    <ComponentRef Id="RTDCPVER180"/>
    <ComponentRef Id="STDruntimeVER180"/>
    <ComponentRef Id="dcljpgdcpVER180"/>
    <ComponentRef Id="dcljpgqrdcpVER180"/>
    <ComponentRef Id="dcljpgqsdcpVER180"/>
    <ComponentRef Id="dcljpgbpiVER180"/>
    <ComponentRef Id="dcljpgqrbpiVER180"/>
    <ComponentRef Id="dcljpgqsbpiVER180"/>
    <ComponentRef Id="dcljpglibVER180"/>
    <ComponentRef Id="dcljpgqrlibVER180"/>
    <ComponentRef Id="dcljpgqslibVER180"/>
    <ComponentRef Id="STDBPIVER180"/>
    <ComponentRef Id="STDLIBVER180"/>
    <?endif?>
  </ComponentGroup>

 </Fragment>

</Wix>