<?xml version="1.0" encoding="utf-8"?>
<!-- $Id: delphi2007.wxs,v 1.5 2007-08-09 11:04:15 tony Exp $ -->

<!-- This Fragment installs the Files for Delphi 2007 -->

<?define guidJPEGBPL="BF443AB1-06E0-4EA7-B349-7728A6910C15"?>
<?define guidJPEGQRBPL="BF443AB1-06E0-4EA7-B349-7728A6910C15"?>
<?define guidMWAQRJPEG="FC398FA5-D4BE-4427-AF23-9C02E25B4FAA"?>
<?define guidRTDCP="96680930-F20B-44D2-988F-A1938912D468"?>
<?define guidSTDruntime="D737DB7C-2BB0-4FA3-B69B-488CE620D06E"?>
<?define guidDCPJPEGDCP="16625A67-05EA-484D-804C-A3003A2BB857"?>
<?define guidQRDCPJPEGDCP="5AB24BA9-1A48-4A19-A972-AC9457E48427"?>

<?ifdef EVALUATION?>
<?define dcuDir="source\evaluationUnits\d11"?>
<?define guidJPEGLIB="51668FE9-18C7-41A0-84CD-EDFC62376940"?>
<?define guidMWAJPEG="F0B68401-D02F-476F-A490-7CDBF0A538FE"?>
<?define guidMWADBJPEG="2478D29D-EDCF-4919-8BCB-02E9B16ACE42"?>
<?else?>
<?define dcuDir="source\Units\d11"?>
<?define guidJPEGLIB="3D658EAB-3272-4212-9179-215F1FC04A69"?>
<?define guidMWAJPEG="8F4BC71B-E2B7-4EA7-8D11-0239114CE0D2"?>
<?define guidMWADBJPEG="B2E81CD0-0D8F-4F62-8EF7-9A2C58AFC777"?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">

 <Fragment>
  <Property Id="INSTALLDIRD2007">
    <RegistrySearch Id="ROOTVER185" Root="HKLM" Key="SOFTWARE\Borland\BDS\5.0"
                      Name="RootDir" Type="directory" />
  </Property>

  <Property Id="QR4D2007">
    <RegistrySearch Id="QRROOTVER185" Root="HKLM" Key="SOFTWARE\Borland\BDS\5.0"
                      Name="RootDir" Type="directory" >
	   <DirectorySearch Id="QR4DesignbplVER185" Path="bin" Depth="1">
        <FileSearch Id="QR4DesignbplVER185" LongName="QR4DesignD2007.bpl" />
 	   </DirectorySearch>
    </RegistrySearch>
  </Property>

  <CustomAction Id="SetInstallDirVER185" Directory="DelphiDirVER185"
                 Value="[INSTALLDIRD2007]"/>
  <InstallExecuteSequence>
    <Custom Action='SetInstallDirVER185' After='CostFinalize'>INSTALLDIRD2007</Custom>
  </InstallExecuteSequence>

  <DirectoryRef Id="TARGETDIR">
    <Directory Id="DelphiDirVER185" Name="Delphi11" LongName="Delphi2007">
	  <Directory Id="bindirVER185" Name="bin">

       <!-- Standard Design Time Package -->

	   <Component Id="DesignTimePkgeVER185" Guid="$(var.guidJPEGBPL)" DiskId="1">
	     <Condition>INSTALLDIRD2007 and not QR4D2007</Condition>
  	     <File Id="dcljpg11bpl" Name="dcljpg11.bpl" LongName="dclmwajpgD2007.bpl"
	   	     Source="source\Packages\dclmwajpgD2007.bpl"/>
	     <Registry Id="AddStd2PackageListVER185"
		 		   Root="HKCU" Type="string"
		 	       Key="Software\Borland\BDS\5.0\Known Packages"
				   Name="[#dcljpg11bpl]"
				   Value="MWA JPEG Component Library v$(env.RELEASE)" />
	   </Component>

       <!-- Quick Reports Design Time Package -->

	   <Component Id="DesignTimePkgeQRVER185" Guid="$(var.guidJPEGQRBPL)" DiskId="1">
	     <Condition>INSTALLDIRD2007 and QR4D2007</Condition>
  	     <File Id="qcljpg11bpl" Name="qcljpg11.bpl" LongName="qclmwajpgD2007.bpl"
	   	     Source="source\Packages\QR\dclmwajpgD2007.bpl">
		   <CopyFile Id="CopyQclVER185" DestinationName="dcljpg11.bpl"
                     DestinationLongName="dclmwajpgD2007.bpl"/>
		 </File>
		 <RemoveFile Id="RemoveQclVER185" Name="dcljpg11.bpl"
                     LongName="dclmwajpgD2007.bpl" On="uninstall"/>
	     <Registry Id="AddQR2PackageListVER185"
		 		   Root="HKCU" Type="string"
		 	       Key="Software\Borland\BDS\5.0\Known Packages"
				   Name="[#dcljpg11bpl]"
				   Value="MWA JPEG Component Library v$(env.RELEASE)" />
	   </Component>
	  </Directory>
	  <Directory Id="libdirVER185" Name="lib">

      <!-- dcu and dcp files -->

	    <Component Id="dcljpgdcpVER185" Guid="$(var.guidDCPJPEGDCP)" DiskId="1">
	     <Condition>INSTALLDIRD2007 and not QR4D2007</Condition>
		  <File Id="dclmwajpgVER185" Name="dclmjpg.dcp" LongName="dclmwajpg.dcp"
		  	    Source="source\Packages\d11\dclmwajpg.dcp" />
 	    </Component>
	    <Component Id="dcljpgqrdcpVER185" Guid="$(var.guidQRDCPJPEGDCP)" DiskId="1">
	     <Condition>INSTALLDIRD2007 and QR4D2007</Condition>
		  <File Id="qclmwajpgVER185" Name="qclmjpq.dcp" LongName="qclmwajpg.dcp"
		  	    Source="source\Packages\QR\d11\dclmwajpg.dcp" >
		   <CopyFile Id="CopyQcpVER185" DestinationName="dclmjpg.dcp"
                     DestinationLongName="dclmwajpg.dcp"/>
		 </File>
		 <RemoveFile Id="RemoveQcpVER185" Name="dclmjpg.dcp"
                     LongName="dclmwajpg.dcp" On="uninstall"/>
 	    </Component>

	    <Component Id="jpeglibVER185" Guid="$(var.guidJPEGLIB)" DiskId="1">
	     <Condition>INSTALLDIRD2007</Condition>
		  <File Id="jpeglibdcuVER185" Name="jpeglib.dcu"
		  	    Source="$(var.dcuDir)\jpeglib.dcu" />
 	    </Component>
	    <Component Id="mwajpegVER185" Guid="$(var.guidMWAJPEG)" DiskId="1">
	     <Condition>INSTALLDIRD2007</Condition>
		  <File Id="mwajpegdcuVER185" Name="mwajpeg.dcu"
		  	    Source="$(var.dcuDir)\mwajpeg.dcu" />
 	    </Component>
	    <Component Id="mwadbjpgVER185" Guid="$(var.guidMWADBJPEG)" DiskId="1">
	     <Condition>INSTALLDIRD2007</Condition>
		  <File Id="mwadbjpgdcuVER185" Name="mwadbjpg.dcu"
		  	    Source="$(var.dcuDir)\mwadbjpg.dcu" />
 	    </Component>

        <!-- Give them the source to mwaQRjpg.pas -->

	    <Component Id="mwaQRjpgVER185" Guid="$(var.guidMWAQRJPEG)" DiskId="1">
	     <Condition>INSTALLDIRD2007</Condition>
		  <File Id="mwaQRjpgpasVER185" Name="mwaQRjpg.pas"
		  	    Source="source\source\mwaQRjpg.pas" />
 	    </Component>
	  </Directory>
      <?ifndef EVALUATION?>

      <!-- Run Time Package -->

	  <Directory Id="JpegDirVER185" Name="mwajpeg">
          <Component Id="RTDCPVER185" DiskId="1" Guid="$(var.guidRTDCP)">
 	        <Condition>INSTALLDIRD2007</Condition>
            <File Id="mwajpgdcpVER185" Name="mwajpg.dcp"
			      Source="source\Packages\d11\mwajpg.dcp" />
          </Component>
          <Component Id="STDruntimeVER185" DiskId="1" Guid="$(var.guidSTDruntime)">
 	        <Condition>INSTALLDIRD2007</Condition>
            <File Id="mwajpgD2007bplVER185" Name="mwajpg11.bpl" LongName="mwajpgD2007.bpl"
			      Source="source\Packages\mwajpgD2007.bpl" />
          </Component>
	  </Directory>
	  <?endif?>
	</Directory>
  </DirectoryRef>

  <ComponentGroup Id="Delphi2007" >
    <ComponentRef Id="DesignTimePkgeVER185"/>
    <ComponentRef Id="DesignTimePkgeQRVER185"/>
    <ComponentRef Id="jpeglibVER185"/>
    <ComponentRef Id="mwajpegVER185"/>
    <ComponentRef Id="mwadbjpgVER185"/>
    <ComponentRef Id="mwaQRjpgVER185"/>
    <ComponentRef Id="dcljpgdcpVER185"/>
    <ComponentRef Id="dcljpgqrdcpVER185"/>
    <?ifndef EVALUATION?>
    <ComponentRef Id="RTDCPVER185"/>
    <ComponentRef Id="STDruntimeVER185"/>
    <?endif?>
  </ComponentGroup>

 </Fragment>

</Wix>