<?xml version="1.0" encoding="utf-8"?>
<!-- $Id: delphi2007.wxs,v 1.1.1.1 2007-08-08 08:52:15 tony Exp $ -->

<!-- This Fragment installs the Files for Delphi 2007 -->

<?define suffix="VER185"?>
<?define guidJPEGBPL="BF443AB1-06E0-4EA7-B349-7728A6910C15"?>

<?ifdef EVALUATION?>
<?define dcuDir="d11"?>
<?define guidJPEGLIB="51668FE9-18C7-41A0-84CD-EDFC62376940"?>
<?define guidMWAJPEG="F0B68401-D02F-476F-A490-7CDBF0A538FE"?>
<?define guidMWADBJPEG="2478D29D-EDCF-4919-8BCB-02E9B16ACE42"?>
<?else?>
<?define dcuDir="d11r"?>
<?define guidJPEGLIB="3D658EAB-3272-4212-9179-215F1FC04A69"?>
<?define guidMWAJPEG="8F4BC71B-E2B7-4EA7-8D11-0239114CE0D2"?>
<?define guidMWADBJPEG="B2E81CD0-0D8F-4F62-8EF7-9A2C58AFC777"?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">

 <Fragment>
  <Property Id="INSTALLDIR$(var.suffix)">
    <RegistrySearch Id="ROOT$(var.suffix)" Root="HKLM" Key="SOFTWARE\Borland\BDS\5.0"
                      Name="RootDir" Type="directory" />
  </Property>

  <Custom Action Id="SetInstallDir$(var.suffix)" Property="DelphiDir$(var.suffix)"
                 Value="[INSTALLDIR$(var.suffix)]"/>
  <InstallExecuteSequence>
    <Custom Action='SetDephi2007Dir' After='CostFinalize'>INSTALLDIR$(var.suffix)</Custom>
  </InstallExecuteSequence>

  <DirectoryRef Id="TARGETDIR">
    <Directory Id="DelphiDir$(var.suffix)" Name="Delphi">
	  <Directory Id="bindir$(var.suffix)" Name="bin">
	   <Component Id="DesignTimePkge$(var.suffix)" Guid="$(var.guidJPEGBPL)" DiskId="1">
  	     <File Id="mwajpegbds5bpl" Name="mwajpg10.bpl" LongName="mwajpegbds5.bpl"
	   	     Source="$(env.JPEGDIR\packages\mwajpg07.bpl">
	       <Registry Id="Add2PackageList" Action="createKeyAndRemoveKeyOnUninstall"
		 		   Root="HKLM" Type="string"
		 	       Key="Software\Borland\BDS\5.0\Known Packages"
				   Name="[#mwajpegbds5bpl]"
				   Value="MWA JPEG Component Library" />
	     </File>
	   </Component>
	  </Directory>
	  <Directory Id=libdir$(var.suffix)" Name="lib">
	    <Component Id="jpeglib$(var.suffix)" Guid="$(var.guidJPEGLIB)" DiskId="1">
		  <File Id="jpeglibdcu$(var.suffix)" Name="jpeglib.dcu"
		  	    Source="$(env.JPEGDIR)\Units\$(var.dcuDir)\jpeglib.dcu" />
 	    </Component>
	    <Component Id="mwajpeg$(var.suffix)" Guid="$(var.guidMWAJPEG)" DiskId="1">
		  <File Id="mwajpegdcu$(var.suffix)" Name="mwajpeg.dcu"
		  	    Source="$(env.JPEGDIR)\Units\$(var.dcuDir)\mwajpeg.dcu" />
 	    </Component>
	    <Component Id="mwadbjpg$(var.suffix)" Guid="$(var.guidMWADBJPEG)" DiskId="1">
		  <File Id="mwadbjpgdcu$(var.suffix)" Name="mwadbjpg.dcu"
		  	    Source="$(env.JPEGDIR)\Units\$(var.dcuDir)\mwadbjpg.dcu" />
 	    </Component>
	  </Directory>
	</Directory>
  </DirectoryRef>

  <ComponentGroup Id="Delphi2007" >
    <ComponentRef Id="DesignTimePkge$(var.suffix)">
    <ComponentRef Id="jpeglib$(var.suffix)">
    <ComponentRef Id="mwajpeg$(var.suffix)">
    <ComponentRef Id="mwadbjpg$(var.suffix)">
  </ComponentGroup>

 </Fragment>

</Wix>