<?xml version="1.0" encoding="utf-8"?>
<!-- $Id: delphi2007.wxs,v 1.10 2007-08-22 21:47:19 tony Exp $ -->

<!-- This Fragment installs the Files for Delphi 2007 -->

<?define guidJPEGBPL="BF443AB1-06E0-4EA7-B349-7728A6910C15"?>
<?define guidJPEGQRBPL="BF443AB1-06E0-4EA7-B349-7728A6910C15"?>
<?define guidMWAQRJPEG="FC398FA5-D4BE-4427-AF23-9C02E25B4FAA"?>
<?define guidRTDCP="96680930-F20B-44D2-988F-A1938912D468"?>
<?define guidSTDruntime="D737DB7C-2BB0-4FA3-B69B-488CE620D06E"?>
<?define guidDCPJPEGDCP="16625A67-05EA-484D-804C-A3003A2BB857"?>
<?define guidQRDCPJPEGDCP="5AB24BA9-1A48-4A19-A972-AC9457E48427"?>

<?ifdef EVALUATION?>
<?define dcuDir="source\evaluationUnits\d11"?>
<?define objDir="source\evaluationUnits\d11"?>
<?define guidJPEGLIB="51668FE9-18C7-41A0-84CD-EDFC62376940"?>
<?define guidMWAJPEG="F0B68401-D02F-476F-A490-7CDBF0A538FE"?>
<?define guidMWADBJPEG="2478D29D-EDCF-4919-8BCB-02E9B16ACE42"?>
<?define guidObj1VER185="FD591243-08A7-4D1C-9BD9-612FEF0EDD65"?>
<?define guidObj2VER185="FEE24729-62C6-4CA2-91A5-35C894AC76F3"?>
<?define guidObj3VER185="9EB07F49-BD87-4F75-BD0F-7D2AF83BFB72"?>
<?define guidHdr1VER185="A8A52D47-3451-4856-8132-8F8FCF998D36"?>
<?define guidHdr2VER185="6926DEC9-310A-44CE-BFEF-B7F589C0BF6D"?>
<?define guidHdr3VER185="DE27AC24-0CC3-4948-A4DD-E00FD1E7E9AD"?>
<?else?>
<?define dcuDir="source\Units\d11"?>
<?define objDir="source\Units\d11"?>
<?define guidJPEGLIB="3D658EAB-3272-4212-9179-215F1FC04A69"?>
<?define guidMWAJPEG="8F4BC71B-E2B7-4EA7-8D11-0239114CE0D2"?>
<?define guidMWADBJPEG="B2E81CD0-0D8F-4F62-8EF7-9A2C58AFC777"?>
<?define guidObj1VER185="47F039FD-5019-4A6E-9ED2-473EF555AFAA"?>
<?define guidObj2VER185="DB0408E4-69DB-4FF5-8F30-B010C9632530"?>
<?define guidObj3VER185="6050B47E-60C7-4A36-955B-D2924E1B31BE"?>
<?define guidHdr1VER185="8AC41B73-E535-4DFA-A3EC-A2BA65AC47E9"?>
<?define guidHdr2VER185="D638C349-660F-45D3-AD1A-71A56D13A049"?>
<?define guidHdr3VER185="7F64ED83-88A8-4F5E-8448-1BCFF81A6AC9"?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">

 <Fragment>
  <Property Id="INSTALLDIRD2007">
    <RegistrySearch Id="ROOTVER185" Root="HKLM" Key="SOFTWARE\Borland\BDS\5.0"
                      Name="RootDir" Type="directory" />
  </Property>

  <Property Id="D2007">
    <RegistrySearch Id="DelphiPersonality" Root="HKLM" Key="SOFTWARE\Borland\BDS\5.0\Personalities"
                      Name="Delphi.Win32" Type="raw" />
  </Property>

  <Property Id="C2007">
    <RegistrySearch Id="BCBPersonality" Root="HKLM" Key="SOFTWARE\Borland\BDS\5.0\Personalities"
                      Name="BCB" Type="raw" />
  </Property>

  <CustomTable Id="MWARegSearchParams" >
    <Row>
	  <Data Column="Id">HKCUSearchVER185</Data>
	  <Data Column="Root">HKCU</Data>
	  <Data Column="KeyPath">SOFTWARE\Borland\BDS\5.0\Known Packages</Data>
	  <Data Column="SubString">QR4DesignD2007.bpl</Data>
	  <Data Column="Property">QR4D2007</Data>
	</Row>
    <Row>
	  <Data Column="Id">HKLMSearchVER185</Data>
	  <Data Column="Root">HKLM</Data>
	  <Data Column="KeyPath">SOFTWARE\Borland\BDS\5.0\Known Packages</Data>
	  <Data Column="SubString">QR4DesignD2007.bpl</Data>
	  <Data Column="Property">QR4D2007</Data>
	</Row>
    <Row>
	  <Data Column="Id">HKLMSearchOldInstallVER185</Data>
	  <Data Column="Root">HKLM</Data>
	  <Data Column="KeyPath">SOFTWARE\Borland\BDS\5.0\Known Packages</Data>
	  <Data Column="SubString">mwajpg07.bpl</Data>
	  <Data Column="Property">OLDINSTALLD2007</Data>
	</Row>
    <Row>
	  <Data Column="Id">HLCUSearchOldInstallVER185</Data>
	  <Data Column="Root">HKCU</Data>
	  <Data Column="KeyPath">SOFTWARE\Borland\BDS\5.0\Known Packages</Data>
	  <Data Column="SubString">mwajpg07.bpl</Data>
	  <Data Column="Property">OLDINSTALLD2007</Data>
	</Row>
  </CustomTable>

  <DirectoryRef Id="TARGETDIR">
    <Directory Id="DelphiDirVER185" Name="Delphi11" LongName="Delphi2007">
	  <Directory Id="bindirVER185" Name="bin">

       <!-- Standard Design Time Package -->

	   <Component Id="DesignTimePkgeVER185" Guid="$(var.guidJPEGBPL)" DiskId="1">
	     <Condition>INSTALLDIRD2007 and not QR4D2007</Condition>
  	     <File Id="dcljpg11bpl" Name="dcljpg11.bpl" LongName="dclmwajpgD2007.bpl"
	   	     Source="source\Packages\dclmwajpgD2007.bpl"/>
	     <Registry Id="AddStd2PackageListVER185"
		 		   Root="HKCU" Type="string"
		 	       Key="Software\Borland\BDS\5.0\Known Packages"
				   Name="[#dcljpg11bpl]"
				   Value="MWA JPEG Component Library v$(env.RELEASE)" />
	   </Component>

       <!-- Quick Reports Design Time Package -->

	   <Component Id="DesignTimePkgeQRVER185" Guid="$(var.guidJPEGQRBPL)" DiskId="1">
	     <Condition>INSTALLDIRD2007 and QR4D2007</Condition>
  	     <File Id="qcljpg11bpl" Name="qcljpg11.bpl" LongName="qclmwajpgD2007.bpl"
	   	     Source="source\Packages\QR\dclmwajpgD2007.bpl">
		   <CopyFile Id="CopyQclVER185" DestinationName="dcljpg11.bpl"
                     DestinationLongName="dclmwajpgD2007.bpl"/>
		 </File>
		 <RemoveFile Id="RemoveQclVER185" Name="dcljpg11.bpl"
                     LongName="dclmwajpgD2007.bpl" On="uninstall"/>
	     <Registry Id="AddQR2PackageListVER185"
		 		   Root="HKCU" Type="string"
		 	       Key="Software\Borland\BDS\5.0\Known Packages"
				   Name="[#dcljpg11bpl]"
				   Value="MWA JPEG Component Library v$(env.RELEASE)" />
	   </Component>
	  </Directory>
	  <Directory Id="libdirVER185" Name="lib">

      <!-- dcu and dcp files -->

      <?ifndef EVALUATION?>
	    <Component Id="dcljpgdcpVER185" Guid="$(var.guidDCPJPEGDCP)" DiskId="1">
	     <Condition>INSTALLDIRD2007 and not QR4D2007</Condition>
		  <File Id="dclmwajpgVER185" Name="dclmjpg.dcp" LongName="dclmwajpg.dcp"
		  	    Source="source\Packages\d11\dclmwajpg.dcp" />
 	    </Component>
	    <Component Id="dcljpgqrdcpVER185" Guid="$(var.guidQRDCPJPEGDCP)" DiskId="1">
	     <Condition>INSTALLDIRD2007 and QR4D2007</Condition>
		  <File Id="qclmwajpgVER185" Name="qclmjpq.dcp" LongName="qclmwajpg.dcp"
		  	    Source="source\Packages\QR\d11\dclmwajpg.dcp" >
		   <CopyFile Id="CopyQcpVER185" DestinationName="dclmjpg.dcp"
                     DestinationLongName="dclmwajpg.dcp"/>
		 </File>
		 <RemoveFile Id="RemoveQcpVER185" Name="dclmjpg.dcp"
                     LongName="dclmwajpg.dcp" On="uninstall"/>
 	    </Component>
	  <?endif?>

	    <Component Id="jpeglibVER185" Guid="$(var.guidJPEGLIB)" DiskId="1">
	     <Condition>INSTALLDIRD2007</Condition>
		  <File Id="jpeglibdcuVER185" Name="jpeglib.dcu"
		  	    Source="$(var.dcuDir)\jpeglib.dcu" />
 	    </Component>
	    <Component Id="mwajpegVER185" Guid="$(var.guidMWAJPEG)" DiskId="1">
	     <Condition>INSTALLDIRD2007</Condition>
		  <File Id="mwajpegdcuVER185" Name="mwajpeg.dcu"
		  	    Source="$(var.dcuDir)\mwajpeg.dcu" />
 	    </Component>
	    <Component Id="mwadbjpgVER185" Guid="$(var.guidMWADBJPEG)" DiskId="1">
	     <Condition>INSTALLDIRD2007</Condition>
		  <File Id="mwadbjpgdcuVER185" Name="mwadbjpg.dcu"
		  	    Source="$(var.dcuDir)\mwadbjpg.dcu" />
 	    </Component>

        <!-- Give them the source to mwaQRjpg.pas -->

	    <Component Id="mwaQRjpgVER185" Guid="$(var.guidMWAQRJPEG)" DiskId="1">
	     <Condition>INSTALLDIRD2007</Condition>
		  <File Id="mwaQRjpgpasVER185" Name="mwaQRjpg.pas"
		  	    Source="source\source\mwaQRjpg.pas" />
 	    </Component>

        <!-- obj Files -->

        <Directory Id="LibDirVER185" Name="obj">
        <Component Id="Obj1VER185" DiskId="1" Guid="$(var.guidObj1VER185)">
	     <Condition>INSTALLDIRD2007 and C2007</Condition>
            <File Id="jpeglibobjVER185" Name="jpeglib.obj" Source="$(var.objDir)\jpeglib.obj" />
        </Component>
        <Component Id="Obj2VER185" DiskId="1" Guid="$(var.guidObj2VER185)">
	     <Condition>INSTALLDIRD2007 and C2007</Condition>
            <File Id="mwadbjpgobjVER185" Name="mwadbjpg.obj" Source="$(var.objDir)\mwadbjpg.obj" />
        </Component>
        <Component Id="Obj3VER185" DiskId="1" Guid="$(var.guidObj3VER185)">
	     <Condition>INSTALLDIRD2007 and C2007</Condition>
            <File Id="mwajpegobjVER185" Name="mwajpeg.obj" Source="$(var.objDir)\mwajpeg.obj" />
        </Component>
		</Directory>
	  </Directory>


      <!-- Header Files -->

        <Directory Id="IncludeVER185" Name="include">
          <Component Id="Hdr1VER185" DiskId="1" Guid="$(var.guidHdr1VER185)">
	        <Condition>INSTALLDIRD2007 and C2007</Condition>
            <File Id="jpeglibhppVER185" Name="jpeglib.hpp" Source="$(var.dcuDir)\jpeglib.hpp" />
          </Component>
          <Component Id="Hdr2VER185" DiskId="1" Guid="$(var.guidHdr2VER185)">
	        <Condition>INSTALLDIRD2007 and C2007</Condition>
            <File Id="mwadbjpghppVER185" Name="mwadbjpg.hpp" Source="$(var.dcuDir)\mwadbjpg.hpp" />
          </Component>
          <Component Id="Hdr3VER185" DiskId="1" Guid="$(var.guidHdr3VER185)">
	        <Condition>INSTALLDIRD2007 and C2007</Condition>
            <File Id="mwajpeghppVER185" Name="mwajpeg.hpp" Source="$(var.dcuDir)\mwajpeg.hpp" />
          </Component>
        </Directory>
      <?ifndef EVALUATION?>

      <!-- Run Time Package -->

	  <Directory Id="JpegDirVER185" Name="mwajpeg">
          <Component Id="RTDCPVER185" DiskId="1" Guid="$(var.guidRTDCP)">
 	        <Condition>INSTALLDIRD2007</Condition>
            <File Id="mwajpgdcpVER185" Name="mwajpg.dcp"
			      Source="source\Packages\d11\mwajpg.dcp" />
          </Component>
          <Component Id="STDruntimeVER185" DiskId="1" Guid="$(var.guidSTDruntime)">
 	        <Condition>INSTALLDIRD2007</Condition>
            <File Id="mwajpgD2007bplVER185" Name="mwajpg11.bpl" LongName="mwajpgD2007.bpl"
			      Source="source\Packages\mwajpgD2007.bpl" />
          </Component>
	  </Directory>
	  <?endif?>
	</Directory>
  </DirectoryRef>

  <CustomAction Id="SetInstallDirVER185" Directory="DelphiDirVER185"
                 Value="[INSTALLDIRD2007]"/>

  <CustomAction Id="OldVER185Found" Property="InstalledOldProducts"
                Value="[InstalledOldProducts]Delphi 2007;"/>

   <InstallExecuteSequence>
    <Custom Action="OldVER185Found" After="MWARegSearch" >OLDINSTALLD2007</Custom>
    <Custom Action='SetInstallDirVER185' After='CostFinalize'>INSTALLDIRD2007</Custom>
   </InstallExecuteSequence>

   <InstallUISequence>
     <Custom Action="OldVER185Found" After="MWARegSearch" >OLDINSTALLD2007</Custom>
   </InstallUISequence>

  <ComponentGroup Id="Delphi2007" >
    <ComponentRef Id="DesignTimePkgeVER185"/>
    <ComponentRef Id="DesignTimePkgeQRVER185"/>
    <ComponentRef Id="jpeglibVER185"/>
    <ComponentRef Id="mwajpegVER185"/>
    <ComponentRef Id="mwadbjpgVER185"/>
    <ComponentRef Id="mwaQRjpgVER185"/>
    <ComponentRef Id="Obj1VER185"/>
    <ComponentRef Id="Obj2VER185"/>
    <ComponentRef Id="Obj3VER185"/>
    <ComponentRef Id="Hdr1VER185"/>
    <ComponentRef Id="Hdr2VER185"/>
    <ComponentRef Id="Hdr3VER185"/>
    <?ifndef EVALUATION?>
    <ComponentRef Id="dcljpgdcpVER185"/>
    <ComponentRef Id="dcljpgqrdcpVER185"/>
    <ComponentRef Id="RTDCPVER185"/>
    <ComponentRef Id="STDruntimeVER185"/>
    <?endif?>
  </ComponentGroup>

 </Fragment>

</Wix>