<?xml version="1.0" encoding="utf-8"?>
<!-- $Id: delphi6.wxs,v 1.2 2007-08-09 11:04:15 tony Exp $ -->

<!-- This Fragment installs the Files for Delphi 6.0 -->

<?define guidJPEGBPL="6F1E2638-E484-45F1-9290-4AC615BCA66D"?>
<?define guidMWAQRJPEG="762CA308-1232-48C6-ABCB-2CCB4C20F5D4"?>
<?define guidRTDCP="A2F16FFE-95D2-42B2-8F38-9AD81644BDE4"?>
<?define guidSTDruntime="A100D556-B1B2-40EB-9BB4-474D55F415AA"?>
<?define guidDCPJPEGDCP="F652F619-FC61-443E-9BBF-602D65387F10"?>

<?ifdef EVALUATION?>
<?define dcuDir="source\evaluationUnits\d6"?>
<?define guidJPEGLIB="F821C4F6-0949-4288-8BBE-15D3F0351D18"?>
<?define guidMWAJPEG="53B309CD-D4FF-48E2-B97A-6B5DF0D616CB"?>
<?define guidMWADBJPEG="8EEAD470-CAFB-4297-9FE1-55CECFF72F04"?>
<?else?>
<?define dcuDir="source\Units\d6"?>
<?define guidJPEGLIB="1AC02119-301F-4238-8393-FE2BB8864CA8"?>
<?define guidMWAJPEG="33221698-D66A-40BC-B91B-6BEE17FDA581"?>
<?define guidMWADBJPEG="BB28971F-B575-4D7C-BA66-4F91E0F00D6B"?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">

 <Fragment>
  <Property Id="INSTALLDIRD6">
    <RegistrySearch Id="ROOTVER140" Root="HKLM" Key="SOFTWARE\Borland\Delphi\6.0"
                      Name="RootDir" Type="directory" />
  </Property>

  <CustomAction Id="SetInstallDirVER140" Directory="DelphiDirVER140"
                 Value="[INSTALLDIRD6]"/>
  <InstallExecuteSequence>
    <Custom Action='SetInstallDirVER140' After='CostFinalize'>INSTALLDIRD6</Custom>
  </InstallExecuteSequence>

  <DirectoryRef Id="TARGETDIR">
    <Directory Id="DelphiDirVER140" Name="Delphi60">
	  <Directory Id="bindirVER140" Name="bin">

      <!-- Design Time Package -->

	   <Component Id="DesignTimePkgeVER140" Guid="$(var.guidJPEGBPL)" DiskId="1">
	     <Condition>INSTALLDIRD6</Condition>
  	     <File Id="dcljpg06bpl" Name="dcljpg06.bpl" LongName="dclmwajpgd6.bpl"
	   	     Source="source\Packages\dclmwajpgd6.bpl"/>
	     <Registry Id="AddStd2PackageListVER140"
		 		   Root="HKCU" Type="string"
		 	       Key="Software\Borland\Delphi\6.0\Known Packages"
				   Name="[#dcljpg06bpl]"
				   Value="MWA JPEG Component Library v$(env.RELEASE)" />
	   </Component>
	  </Directory>
	  <Directory Id="libdirVER140" Name="lib">

      <!-- dcu and dcp files -->

	    <Component Id="dcljpgdcpVER140" Guid="$(var.guidDCPJPEGDCP)" DiskId="1">
	     <Condition>INSTALLDIRD6</Condition>
		  <File Id="dclmwajpgVER140" Name="dclmjpg.dcp" LongName="dclmwajpg.dcp"
		  	    Source="source\Packages\d6\dclmwajpg.dcp" />
 	    </Component>
	    <Component Id="jpeglibVER140" Guid="$(var.guidJPEGLIB)" DiskId="1">
	     <Condition>INSTALLDIRD6</Condition>
		  <File Id="jpeglibdcuVER140" Name="jpeglib.dcu"
		  	    Source="$(var.dcuDir)\jpeglib.dcu" />
 	    </Component>
	    <Component Id="mwajpegVER140" Guid="$(var.guidMWAJPEG)" DiskId="1">
	     <Condition>INSTALLDIRD6</Condition>
		  <File Id="mwajpegdcuVER140" Name="mwajpeg.dcu"
		  	    Source="$(var.dcuDir)\mwajpeg.dcu" />
 	    </Component>
	    <Component Id="mwadbjpgVER140" Guid="$(var.guidMWADBJPEG)" DiskId="1">
	     <Condition>INSTALLDIRD6</Condition>
		  <File Id="mwadbjpgdcuVER140" Name="mwadbjpg.dcu"
		  	    Source="$(var.dcuDir)\mwadbjpg.dcu" />
 	    </Component>

        <!-- Give them the source to mwaQRjpg.pas -->

	    <Component Id="mwaQRjpgVER140" Guid="$(var.guidMWAQRJPEG)" DiskId="1">
	     <Condition>INSTALLDIRD6</Condition>
		  <File Id="mwaQRjpgpasVER140" Name="mwaQRjpg.pas"
		  	    Source="source\source\mwaQRjpg.pas" />
 	    </Component>
	  </Directory>
      <?ifndef EVALUATION?>

      <!-- Run Time Package -->

	  <Directory Id="JpegDirVER140" Name="mwajpeg">
          <Component Id="RTDCPVER140" DiskId="1" Guid="$(var.guidRTDCP)">
 	        <Condition>INSTALLDIRD6</Condition>
            <File Id="mwajpgdcpVER140" Name="mwajpg.dcp"
			      Source="source\Packages\d6\mwajpg.dcp" />
          </Component>
          <Component Id="STDruntimeVER140" DiskId="1" Guid="$(var.guidSTDruntime)">
 	        <Condition>INSTALLDIRD6</Condition>
            <File Id="mwajpgd6bplVER140" Name="mwajpgd6.bpl"
			      Source="source\Packages\mwajpgd6.bpl" />
          </Component>
	  </Directory>
	  <?endif?>
	</Directory>
  </DirectoryRef>

  <ComponentGroup Id="Delphi60" >
    <ComponentRef Id="DesignTimePkgeVER140"/>
    <ComponentRef Id="jpeglibVER140"/>
    <ComponentRef Id="mwajpegVER140"/>
    <ComponentRef Id="mwadbjpgVER140"/>
    <ComponentRef Id="mwaQRjpgVER140"/>
    <ComponentRef Id="dcljpgdcpVER140"/>
    <?ifndef EVALUATION?>
    <ComponentRef Id="RTDCPVER140"/>
    <ComponentRef Id="STDruntimeVER140"/>
    <?endif?>
  </ComponentGroup>

 </Fragment>

</Wix>